In [107]:
!pip install ipython-sql
%load_ext sql
%sql sqlite:///chinook.db
%%sql CREATE TABLE Partner_data (
    partner_id INT,
    partner VARCHAR(100),
    village VARCHAR(100),
    beneficiary INT,
    beneficiary_type VARCHAR(50)
);
%%sql CREATE TABLE District_summary AS
SELECT
    d.DistrictName AS District_Name,
    d.RegionName AS Region_Name,
    SUM(b.IndividualBeneficiaries) AS No_of_Individual_Beneficiaries,
    SUM(b.IndividualBeneficiaries) / d.TotalDistrictPopulation AS Beneficiaries_Percentage
FROM
    Districts d
JOIN
    Beneficiaries b ON d.DistrictID = b.DistrictID
GROUP BY
    d.DistrictName, d.Reg
%%sql CREATE TABLE Partner_summary AS
SELECT
    p.PartnerName AS Partner_Name,
    COUNT(DISTINCT v.VillageID) AS No_of_Villages_Reached
FROM
    Partners p
JOIN
    Villages v ON p.PartnerID = v.PartnerID
GROUP BY
    p.PartnerName;ionName;

IndentationError: unexpected indent (<ipython-input-107-7528ced0ae13>, line 5)