In [3]:
%load_ext sql
%sql

%%sql CREATE VIEW full_stud_details AS
SELECT s.*, c.email, c.phone_number, f.*
FROM students s
JOIN contacts c ON s.stud_id = c.stud_id
JOIN financial_details f ON s.stud_id = f.stud_id;

%%sql CREATE VIEW new_stud_details AS
SELECT s.stud_name, s.school_id, c.email, c.phone_number
FROM students s
JOIN contacts c ON s.stud_id = c.stud_id;

%%sql CREATE VIEW full_stud_details AS
SELECT s.*, c.email, c.phone_number, f.*
FROM students s
JOIN contacts c ON s.stud_id = c.stud_id
JOIN financial_details f ON s.stud_id = f.stud_id;

%%sql UPDATE financial_details
SET stud_name = (SELECT stud_name FROM students WHERE students.stud_id = financial_details.stud_id)
WHERE stud_name IS NULL;

%%sql CREATE VIEW financial_details_view AS
SELECT *,
    CASE
        WHEN fee_paid >= current_fee THEN 'True'
        ELSE 'False'
    END AS fee_cleared
FROM financial_details;

%%sql CREATE VIEW fee_cleared AS
SELECT s.national_id, s.stud_name
FROM students s
JOIN financial_details f ON s.stud_id = f.stud_id
WHERE f.fee_paid >= f.current_fee;

%%sql CREATE VIEW total_fee_balance AS
SELECT
    SUM(fee_paid) AS total_fees_paid,
    SUM(current_fee - fee_paid) AS total_current_deficit
FROM financial_details;

%%sql CREATE VIEW home_county_count AS
SELECT current_home_county, COUNT(*) AS student_count
FROM students
GROUP BY current_home_county;

%%sql CREATE VIEW secondary_school_count AS
SELECT secondary_school_county,
    SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END) AS male_student_count,
    SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END) AS female_student_count
FROM students
GROUP BY secondary_school_county;

%%sql CREATE VIEW kin_percentage AS
SELECT
    SUM(CASE WHEN next_of_kin = 'Mother' THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS mother_percentage,
    SUM(CASE WHEN next_of_kin = 'Father' THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS father_percentage
FROM students;

SyntaxError: invalid syntax (<ipython-input-3-076354505013>, line 5)